# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration
# Format: postgres://username:password@host:port/database_name
DATABASE_URL=postgres://postgres:postgres@localhost:5432/maritime_distress

# MQTT Broker configuration
MQTT_URL=mqtt://localhost:1883

# Future Security
JWT_SECRET=supersecretjwtkeyforfutureuse
